NEXT_PUBLIC_GOOGLE_ANALYTICS='G-XXXXXXX'
NEXT_PUBLIC_BASE_URL='http://localhost:3000'

# Comma-separated hostnames or IP addresses allowed to access the Next.js dev server
ALLOWED_DEV_ORIGINS='hostname,x.x.x.x'