/* https://github.com/radix-ui/primitives/discussions/1874 */

[data-slot='navigation-menu'] > div {
  display: flex;
  width: 100%;
}

.scrollbar-thin-xs::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
