/* https://github.com/radix-ui/primitives/discussions/1874 */

[data-slot='navigation-menu'] > div {
  display: flex;
  width: 100%;
}

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--muted);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
